.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box-shadow {
  box-shadow: 0px 0px 2px 2px #ededed;
  padding: 15px;
  overflow: hidden;
}

.navbar {
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px 0px #d2d2d2;
  z-index: 10;
  position: relative;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
