body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.accordion-button::after {
  filter: invert(1);
}

.navbar-brand img {
  height: 25px;
}

.navbar {
  border-bottom: 1px solid #d7d7d7;
}

.navbar-brand {
  padding-right: 100px;
}

.navbar ul li {
  padding-right: 25px !important;
}

p {
  margin-bottom: 5px;
}
